<footer>
  <!--<div class='row'>
    <div class='col-lg-12'>
      <p>Copyright &copy; {{ site.sitename }} {{ site.time | date: '%Y' }}</p>
    </div>
  </div>-->
  <table>
    <tr>
      <th>Follow us on Social Media</th>\
      <td><a href="https://tiktok.com/@titterpigacademy">TikTok</a></td>
      <td><a href="https://bsky.app/profile/titterpig.academy">BlueSky</a></td>
      <td><a href="https://threads.net/@titterpigacademy">Threads</a></td>
      <td><a href="https://youtube.com/@TitterpigAcademy">Youtube</a></td>
      <td><a href="https://www.instagram.com/titterpigacademy">Instagram</a></td>
    </tr>
  </table>
</footer>